# Ignore key and env files
*key.*
*.env.*

# Ignore changes to flyway configuration
flyway.toml

# Ignore temporary data for local deployments
infrastructure/local/tmp

# Ignore changes to github webhook
infrastructure/cloud/scripts/github_webhook.sh
